<div class="clr-row clr-justify-content-center">
  <div class="clr-col-6">
    <h1> Página de Relatos</h1>
  </div>
  <div class="clr-col-8">
     <h2>Nessa página estão alguns relatos feitos pelas mulheres que utilizaram nossa aplicação, fique a vontade para ler, comentar e até mesmo realizar o seu próprio relato.</h2>
  </div>
</div>

<div class="clr-row clr-justify-content-center">
    <div class="clr-col-8">
      <div class="clr-row">
        <div *ngFor="let depoimento of depoimentos; let i = index" class="clr-col-lg-4 clr-col-12">
          <div class="card">
            <div class="card-block">
                <h3 class="card-title">{{depoimento.relato.apelido}}, {{depoimento.relato.idade}}</h3>
                <p class="card-text">{{depoimento.relato.depoimento}}</p>
              </div>
            <clr-tree>
              <clr-tree-node [(clrExpanded)]="depoimento.relato.expanded">
                Comentários
                <clr-tree-node *ngFor="let comentario of depoimento.comentarios" [clrExpanded]="false">
                  <b>{{comentario.nickname}}, {{comentario.idade}}: </b>
                  <clr-tree-node>
                      {{comentario.comentario}} 
                  </clr-tree-node>
                </clr-tree-node>  
              </clr-tree-node>
            </clr-tree>
            <div class="card-footer">
              <form clrForm>
              <clr-input-container>
                <input clrInput placeholder="Nome ficticío" name="nickname" [(ngModel)]="depoimento.modalComentario.nickname" />
              </clr-input-container>
              <clr-textarea-container>
                <textarea clrTextarea [(ngModel)]="depoimento.modalComentario.comentario" name="comentario"
                  placeholder="Digite seu comentário!"></textarea>
              </clr-textarea-container>
             </form>
              <button type="button" class="btn btn-link btn-sm" (click)="salvar()">Enviar Comentário</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  <div class="clr-col-6">
    <button class="btn btn-outline" (click)="basic = true">Realizar Relato</button>
   

    
</div>

<clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'md'">
  <h3 class="modal-title">Compartilhe Conosco!</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Apelido</label>
        <input clrInput placeholder="Nome ficticío" name="nome" [(ngModel)]="modalRelato.apelido" required />
      </clr-input-container>
     
      <clr-input-container>
        <label>Idade</label>
        <input clrInput placeholder="Idade real ou não" name="idade" [(ngModel)]="modalRelato.idade" required />
      </clr-input-container>

      <clr-textarea-container style="height: fit-content;">
        <label>Seu relato vai aqui!</label>
        <textarea clrTextarea [(ngModel)]="modalRelato.depoimento" name="depoimento"
          placeholder="Sinta-se a vontade para compartilhar conosco o que achar que deve.." required>
                </textarea>
      </clr-textarea-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="salvar()">Confirmar</button>
  </div>
</clr-modal>



<!--<div class="container pb-cmnt-container">
                   <div class="panel panel-info">
                     <div class="panel-body">
                       <textarea placeholder="Deixe seu comentário aqui!"
                       class="pb-cmnt-textarea"></textarea>
                      </div>
                    </div>
                  </div>-->