
h1 {
  text-align: center;
  margin: 20px 0 0 0;
  font-weight: normal;
}

h2 {
  text-align: center;
  margin: 20px 0 0 0;
  font-weight: normal;
}

button {
  display: block;
  text-align: center;
  margin: 30px auto;
}

 .pb-cmnt-container {
   margin-top: 5px;
 }

 .pb-cmnt-textarea {
   resize: none;
   padding: 5px;
   height: 50%;
   width: 100%;
   border: 2px solid #dddddd;
 }
