<h1>Fale Conosco</h1>
<h2 style="margin: auto;">
  Obrigada por chegar até aqui, toda a equipe agradece de coração a colaboração.</h2>
<section class="container row-wrap" >
        <div class="item">
            <div class="card">
                <div class="card-header">
                    <h3>Desenvolvimento de Software</h3>
        </div>
        <div class="card-block">
            <p class="card-text">
            O desenvolvimento desta Aplicação Web foi realizado por Bárbara Boechat, aluna de Ciência da Computação da Universidade Federal de São João del-Rei.
          </p>
        </div>
        <div class="card-block" style="font-size: 18px;">
                Entre em Contato
                <ul class="list-unstyled">
                    <li><clr-icon shape="envelope"></clr-icon> E-mail: barbs.boechat@gmail.com</li>
                    <li><clr-icon shape="mobile"></clr-icon> Número p/ Contato: (33) 9 91362356</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card">
            <div class="card-header">
                <h3>Idealização do Projeto</h3>
            </div>
            <div class="card-block">
                <p class="card-text">
                    A idealização desta Aplicação Web foi realizada por Maria Emília, Arquiteta e Urbanista formada pela Universidade Federal de São João del-Rei.
                </p>
            </div>
            <div class="card-block" style="font-size: 18px; margin: auto;">
                Entre em Contato
                <ul class="list-unstyled">
                    <li>
                        <clr-icon shape="envelope"></clr-icon> E-mail:memiliabrezende@gmail.com
                    </li>
                    <li>
                        <clr-icon shape="mobile"></clr-icon> Número p/ Contato: (35) 9 99623161
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="container row-wrap">
        <div class="item">
            <img src="assets/img/2girls.png" alt="image" class="center">
        </div>  
    </section>
    <h2 style="margin: -200px 15px;"> Sozinha eu ando bem, mas com você ando melhor!</h2>
</section>

<h4 style="text-align: center; margin: 100px 0 0 0;"> Este projeto é de nós por nós. <br> São João del-Rei, Brasil</h4>