
<h1 style="text-align: center;">Bem-vinda ao Labrys!</h1>

<h2>Sobre o projeto:</h2>
<h3> 
 Em São João del-Rei não foi encontrado nenhum dado qualitativo e/ou quantitativo em relação à violência lesbofóbica. A
 proposta do aplicativo é facilitar o registro dessas violências pontuando os locais e quais são elas e, a partir de um
 banco de dados propor diretrizes urbanas mais pontuais em relação a existência e segurança das mulheres lésbicas na
 cidade.


 A escolha do nome do aplicativo, Labrys, faz referência ao machado de duas lâminas que leva o mesmo nome e é o símbolo
 representativo do movimento de luta das mulheres lésbicas. O Labrys era utilizado como cetro pela deusa Ártemis da
 mitologia grega, e os rituais associados a ela envolviam atos lésbicos.

<h3>
<img src="assets/img/woman2.png" alt="image" class="center">
<button class="btn btn-outline">Começar!</button>
